
php_value upload_max_filesize 256M
php_value post_max_size 256M
php_value max_execution_time 0
php_value max_input_time 0

# BEGIN WordPress
<IfModule mod_rewrite.c>

php_value upload_max_filesize 0
php_value post_max_size 0
php_value max_execution_time 0
php_value max_input_time 0

RewriteEngine On
RewriteBase /bulletin/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /bulletin/index.php [L]
</IfModule>

# END WordPress

# Wordfence WAF
<IfModule mod_php7.c>
	php_value auto_prepend_file 'C:\xampp\htdocs\bulletin/wordfence-waf.php'
</IfModule>
<Files ".user.ini">
<IfModule mod_authz_core.c>
	Require all denied
</IfModule>
<IfModule !mod_authz_core.c>
	Order deny,allow
	Deny from all
</IfModule>
</Files>

# END Wordfence WAF
