@font-face {
    font-family: 'robotoblack';
    src: url('../font/roboto-black-webfont.woff2') format('woff2'),
         url('../font/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight_italic';
    src: url('../font/roboto-lightitalic-webfont.woff2') format('woff2'),
         url('../font/roboto-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium';
    src: url('../font/roboto-medium-webfont.woff2') format('woff2'),
         url('../font/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotomedium_italic';
    src: url('../font/roboto-mediumitalic-webfont.woff2') format('woff2'),
         url('../font/roboto-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto-regular-webfont.woff2') format('woff2'),
         url('../font/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin';
    src: url('../font/roboto-thin-webfont.woff2') format('woff2'),
         url('../font/roboto-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotothin_italic';
    src: url('../font/roboto-thinitalic-webfont.woff2') format('woff2'),
         url('../font/roboto-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack';
    src: url('../font/roboto-black-webfont.woff2') format('woff2'),
         url('../font/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack_italic';
    src: url('../font/roboto-blackitalic-webfont.woff2') format('woff2'),
         url('../font/roboto-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../font/roboto-bold-webfont.woff2') format('woff2'),
         url('../font/roboto-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold_italic';
    src: url('../font/roboto-bolditalic-webfont.woff2') format('woff2'),
         url('../font/roboto-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../font/robotocondensed-bold-webfont.woff2') format('woff2'),
         url('../font/robotocondensed-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold_italic';
    src: url('../font/robotocondensed-bolditalic-webfont.woff2') format('woff2'),
         url('../font/robotocondensed-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condenseditalic';
    src: url('../font/robotocondensed-italic-webfont.woff2') format('woff2'),
         url('../font/robotocondensed-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight';
    src: url('../font/robotocondensed-light-webfont.woff2') format('woff2'),
         url('../font/robotocondensed-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedlight_italic';
    src: url('../font/robotocondensed-lightitalic-webfont.woff2') format('woff2'),
         url('../font/robotocondensed-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('robotocondensed-regular-webfont.woff2') format('woff2'),
         url('robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoitalic';
    src: url('../font/roboto-italic-webfont.woff2') format('woff2'),
         url('../font/roboto-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../font/roboto-light-webfont.woff2') format('woff2'),
         url('../font/roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
  font-size: 14px;
}

*, html, body {
  overflow: visible;
  cursor: auto;
  box-sizing: border-box;
  font-family: 'ClimaconsRegular', 'Arial', serif;
}

body {
  background: #f2cfa5;
}

.header-container {
  position: relative;
  float: left;
  width: 100%;
  height: 110px;
  background: #fff;
}

.brand-title {
  margin-top: -1em;
}

.header-container .left {
  width: 70%;
}

.header-container .right {
  width: 30%;
  font-size: 1.5em;;
}

.left .logo {
  position: relative;
  float: left;
  width: 150px;
}

/*SLIDER*/
#ninja-slider {
  background: #e3e3e3;
}

#ninja-slider .slider-inner {
  max-width: 100%;
  width: 100%;
  background-color:rgba(236, 240, 241,1.0);

}

/*FOOTER*/
.dock {
  padding: 2em;
  background: #f2cfa5;
}

.row.dock .columns {
  background: #e3e3e3;
  color: #131516;
  -webkit-box-shadow: 1px 1px 5px 0px #717171;
  -moz-box-shadow:    1px 1px 5px 0px #717171;
  box-shadow:         1px 1px 5px 0px #717171;
  margin: 1em;
  padding: 0;
  width: 47%;
  float: left;
}


.textwidget {
  font-size: 1.3rem;
  padding: 1em;
  line-height: 1.5;
  background: #fff;
  color: #333;
}

.dock h6 {
  font-size: 2rem;
  background: #fe0000;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
}

.videoContent{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}

.video{
  height:100%;
  width:100%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 50%;
}
.videoWrapper iframe {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
