:root {
  font-size: 14px;
}

*, html, body {
  overflow: visible;
  cursor: auto;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.header-container {
  position: relative;
  float: left;
  width: 100%;
  height: 110px;
  margin: 1em 0;
}

.header-container .left {
  width: 70%;
}

.header-container .right {
  width: 30%;
  font-size: 1.5em;;
}

.left .logo {
  position: relative;
  float: left;
  width: 150px;
}

/*SLIDER*/
#ninja-slider {
  background: #e3e3e3;
}

#ninja-slider .slider-inner {
  max-width: 100%;

}

/*FOOTER*/
.row.dock .columns {
  background: #e3e3e3;
  color: #333;
  border: 2px solid #444;
  -webkit-box-shadow: 1px 1px 5px 0px #717171;
  -moz-box-shadow:    1px 1px 5px 0px #717171;
  box-shadow:         1px 1px 5px 0px #717171;
  margin: 1em;
  padding: 2em;
  width: 47%;
  float: left;
}

.textwidget {
  line-height: 1.5;
}

.dock h6 {
  font-size: 2rem;
  color: #333;
  text-transform: uppercase;
  padding: .5em 0;
}
